.button
{
    position: absolute;
    z-index: 1;
    height: 11%;
    top: 18%;
    background-color: Transparent;
    border: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#button_news
{
    width: 12%;
    left: 16%;
    background-image: url(../pixel_art/button-news.png);
}

#button_forum
{
    width: 20%;
    left: 28%;
    background-image: url(../pixel_art/button-forum.png);
}

#button_demo
{
    width: 13%;
    left: 49%;
    background-image: url(../pixel_art/button-demo.png);
}

#button_about_us
{
    width: 28%;
    left: 61%;
    background-image: url(../pixel_art/button-about_us.png);
}

#button_back
{
    width: 5%;
    left: 10px;
    top: 10px;
    background-image: url(../pixel_art/button-back.png);
}

