.button
{
    position: absolute;
    z-index: 1;
    height: 11%;
    top: 18%;
    background-color: Transparent;
    border: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#button_news
{
    width: 14%;
    left: 10%;
    background-image: url(../pixel_art/button-news.png);
}

#button_forum
{
    width: 22%;
    left: 25%;
    background-image: url(../pixel_art/button-forum.png);
}

#button_demo
{
    width: 14%;
    left: 48%;
    background-image: url(../pixel_art/button-demo.png);
}

#button_about_us
{
    width: 30%;
    left: 63%;
    background-image: url(../pixel_art/button-about_us.png);
}

