#add-event-form, #modify-event-form
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 350px;
    height: 375px;

    color: honeydew;
    background-color: rgb(40,40,40);
    border: 1px solid rgb(150,150,150);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);

    display: none;
}

#add-event-holder, #modify-event-holder
{
    width: 350px;
    height: 375px;

    position: relative;
}

#drag-bar
{
    background-color: rgb(54,54,54);

    width: 350px;
    height: 30px;
}

#close-add-event-form, #close-modify-event-form
{
    position: absolute;
    right: 0px;
    top: 0px;

    font-size: 20px;

    margin: 0px;
    padding: 0px;

    height: 30px;
    width: 30px;

    color: rgb(150,150,150);

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

#close-add-event-form:hover, #close-modify-event-form:hover
{
    right: 1px;
    top: -1px;
}

#name-input, #modify-name-input
{
    position: absolute;
    left: 50px;
    top: 50px;

    width: 275px;
    height: 40px;

    font-size: x-large;

    border: none;
    border-bottom: 1px solid rgb(150,150,150);
    outline: none;
    background-color: transparent;

    color: rgb(150,150,150);
}

#clock-icon
{
    position: absolute;
    left: 25px;
    top: 140px;

    color: rgb(150,150,150);
}

#date-input, #modify-date-input
{
    position: absolute;
    left: 50px;
    top: 137.5px;

    width: 125px;

    border: none;
    outline: none;
    background-color: transparent;

    color: rgb(150,150,150);
}

#date-input:hover, #modify-date-input:hover
{
    background-color: rgb(54,54,54);
}

#time-input, #modify-time-input
{
    position: absolute;
    left: 190px;
    top: 137.5px;

    border: none;
    outline: none;
    background-color: transparent;

    color: rgb(150,150,150);
}

#time-input:hover, #modify-time-input:hover
{
    background-color: rgb(54,54,54);
}

#bars-icon
{
    position: absolute;
    left: 25px;
    top: 180px;

    color: rgb(150,150,150);
}

#description-input, #modify-description-input
{
    position: absolute;
    left: 50px;
    top: 175px;

    width: 275px;
    height: 100px;

    font-size: large;

    resize: none;

    border: none;
    outline: none;
    background-color: rgb(150,150,150);
    border-radius: 5px;

    color: rgb(54,54,54);
}

#save-event, #modify-save-event
{
    position: absolute;
    right: 14px;
    bottom: 12.5px;

    font-size: 20px;

    margin: 0px;
    padding: 0px;

    height: 35px;
    width: 70px;

    color: honeydew;

    border-radius: 5px;
    background-color: rgb(0,86,77);
    border: none;
    outline: none;
    cursor: pointer;
}