html, body
{
    background-color: #0f141d;
    margin: 0;
    height: 150%;

    background-image: url("../pixel_art/website-background.png");
    background-size: 40% 40%;
    background-position: left top;
    background-repeat: repeat;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#title
{
    width: 20%;
    height: 18%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    position: absolute; 
    left: 50%;
    margin-left: -11%;
    top: 5px;
    z-index: 1
}

#strona_glowna_mein_div
{
    color: white;

    width: 60%;
    
    text-align: left;
    vertical-align: middle;

    background-color: #04021a80;

    padding: 1%;

    position: absolute;
    left: 19%;
    top: 30%;
}