#strona_about_us_mein_div
{
    color: white;

    width: 60%;
    height: 85%;
    
    text-align: left;
    vertical-align: middle;

    background-color: #04021a80;

    padding: 1%;

    position: absolute;
    left: 19%;
    top: 5%;
}