*
{
    font-family: sans-serif;
}

::-webkit-scrollbar 
{
    width: 12px;
}
  
::-webkit-scrollbar-track
{
    background-color: #15171F;
}
  
::-webkit-scrollbar-thumb 
{
    background-color: #484F5C; 
    border-radius: 5px; 
    border: 1px solid #15171F;
}
::-webkit-scrollbar-track
{
    background-color: #15171F;
}
  
::-webkit-scrollbar-thumb 
{
    background-color: #484F5C; 
    border-radius: 5px; 
    border: 1px solid #15171F;
}