*
{
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

html, body
{
    background-color: #15171F;
}

#nav-bar
{
    position: fixed;
    left: 0;
    top: 0;

    z-index: 10000;

    width: 100%;
    min-height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;

    padding: 0px 100px;

    background-color: #0D0E11;
}

.holder-li .holder-a, .lower-holder-li .lower-holder-a
{
    position: relative;
    margin: 0px 15px;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 500px;
}

.holder, .holder-li
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.holder-li, .lower-holder-li
{
    position: relative;
    list-style: none;

    height: 80px;
}

.lower-holder-li
{
    display: flex;
    justify-content: left;
    align-items: center;   
}

.lower-holder
{
    display: none;
    position: absolute;
    justify-content: left;
    align-items: left;

    left: 50%;
    transform: translate(-26%, -1%);
    top: 80px;

    background-color: #0D0E11;

    border-bottom: 1px solid #484F5C;
    border-left: 1px solid #484F5C;
    border-right: 1px solid #484F5C;

    border-radius: 0px 10px 10px 10px;

    width: 200%;
}

.holder-li:hover
{
    border-top: 1px solid #484F5C;
    border-left: 1px solid #484F5C;
    border-right: 1px solid #484F5C;

    border-radius: 10px 10px 0px 0px;
}

.holder-li:hover .lower-holder
{
    display: block;
}

.holder-li:hover .holder-a, .lower-holder-li:hover .lower-holder-a
{
    color: #FD4444;
}

::-webkit-scrollbar 
{
    width: 12px;
}
  
::-webkit-scrollbar-track
{
    background-color: #15171F;
}
  
::-webkit-scrollbar-thumb 
{
    background-color: #484F5C; 
    border-radius: 5px; 
    border: 1px solid #15171F;
}